/* SearcList Wrapper */

.searchListWrapper {
  display: flex;
  flex-direction: column;
}

/* SearchList CardWrapper */


.searchListCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;

}
