.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  color: #313037;
}
.wrapperTitle {
  width: 212px;
  text-align: start;
}
.darkContainer {
  background-color: #313037;
}
.darkContainer .title {
  color: #ffffff;
}
