.navbarMenu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 72px;
}
.nav {
  width: 100%;
  background-color: rgb(34, 49, 170);
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}
.userSearchWrapper {
  display: flex;
}
.inputNavbar {
  background: rgb(83, 96, 205);
  color: #ffffff;
}

.inputContainer {
  flex: 1;
  display: flex;
  margin: 0 15px;
}

/* Icons */
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  border-left: 1px solid rgb(83, 96, 205);
}
.searchIcon:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.searchIcon:hover svg > path {
  stroke: rgb(83, 96, 205);
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
}
.userIcon:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.userIcon:hover svg > path {
  stroke: rgb(83, 96, 205);
}
.sunMoonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  border-left: 1px solid rgb(83, 96, 205);
  border-right: 1px solid rgb(83, 96, 205);
}
.sunMoonIcon:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.sunMoonIcon:hover svg > path {
  fill: rgb(83, 96, 205);
}
.burgerButton {
  padding: 0px 30px;
  border-right: 1px solid rgb(83, 96, 205);
  cursor: pointer;
  text-align: center;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burgerButton:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}
.burgerButton:hover svg > path {
  fill: rgb(83, 96, 205);
}
