.footerWrapper {
  width: 100%
}
.footerContent {
  max-width: 1120px;
  padding:  34px 0;
  margin: 0 auto ;
  border-top: 1px solid rgba(218, 218, 218, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(141, 142, 151, 1);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.darkContainer .footerContent{
  border-top: 1px solid #8d8e97;

}