.container {
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100;
}
.headForm {
  margin-bottom: 72px;
  align-self: flex-start;
}

.formContainer {
  padding: 40px;
  border: 1px solid #dadada;
  background-color: #f3f3f3;
  width: 624px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 72px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signUpBtn {
  height: 65px;
  margin-bottom: 40px;
  width: 100%;
  margin-top: 8px;
}
.haveAccount {
  margin-bottom: 40px;
  align-self: center;
}
.backHomeBtn:hover{
  cursor: pointer;
  text-decoration: underline;
}


/* DarkTheme */


.darkContainer {
    background-color: #313037;
    color: #ffffff;
  
  }

.darkContainer .formContainer{
    background-color: #313037;
    border: 1px solid #8d8e97;
}
